<template>
  <div id="app">
    <div class="container-fluid">
      <navbar></navbar>
      <div class="container">
        <router-view></router-view>
      </div>
    </div>
    <footer><p> &copy; 2018 Copyright: mario_tab</p></footer>
  </div>
</template>
<script>
export default {
  name: 'app',
  updated () {
    if (!localStorage.token && this.$route.path !== '/login' && this.$route.path !== '/register' && this.$route.path !== '/SuccessRegister' && this.$route.path !== '/allProduct' && this.$route.path !== '/home') {
      this.$router.replace(this.$route.query.redirect || '/login')
    }
  },
}
</script>
<style lang="css">
footer{
  background-color: dimgrey;
  
}
footer p {
    text-align: center;
    font-family: serif;
    color:#000;
    margin-bottom:0;
}
body {
  box-sizing: border-box;
  min-height: 100%;
  width:100%; 
  position:absolute;
  overflow-y: auto;
  overflow-x: hidden;
}
footer  {
    bottom: 0;
    position: absolute;
    width:100%;
    margin-bottom: -32px;
}

</style> 

